
<!-- SECTION 1: Hero -->
<section class="hero-section">
    <div class="group">
        <div class="text">
            <h2>
                {{ site.name }}
            </h2>
            
            <h3> {{site.headline}} </h3>
            <p> {{site.description}}</p>
            <div class="links">
                <a href="#projects">
                    <span>View Projects</span>
                </a>
                {% if site.external-links.linkedin %}
                <a href="https://www.linkedin.com/in/{{ site.external-links.linkedin }}/" target="_blank">
                    <span>LinkedIn <span class="arrow-icon">&#8599;</span></span>
                </a>
                {% endif %}
            </div>
            
        </div>
        <div class="headshot">
            <img src= {{site.profile_image}} alt="john doe headshot">       
        </div>
    </div>
    
</section>

